airflow_telegram_logs_webhook.json
{
  "name": "Airflow ETL Logs a Telegram",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "airflow-etl-log",
        "responseMode": "onReceived",
        "options": {}
      },
      "id": "8f704865-6d5d-4ef0-bf9f-0aa0d7810001",
      "name": "Webhook Airflow",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        260,
        300
      ],
      "webhookId": "airflow-etl-log"
    },
    {
      "parameters": {
        "jsCode": "const payload = $json.body ?? $json;\n\nconst pick = (...values) => values.find((value) => value !== undefined && value !== null && value !== '');\n\nconst dagId = pick(payload.dag_id, payload.dagId, payload.dag?.dag_id, 'desconocido');\nconst taskId = pick(payload.task_id, payload.taskId, payload.task?.task_id, 'desconocido');\nconst runId = pick(payload.run_id, payload.runId, payload.dag_run_id, 'desconocido');\nconst state = String(pick(payload.state, payload.status, 'desconocido')).toLowerCase();\nconst tryNumber = pick(payload.try_number, payload.tryNumber, payload.try, 'n/a');\nconst ts = pick(payload.ts, payload.timestamp, payload.execution_date, payload.logical_date, new Date().toISOString());\nconst logUrl = pick(payload.log_url, payload.logUrl, '');\n\nconst rawLog = pick(\n  payload.log_excerpt,\n  payload.log,\n  payload.logs,\n  payload.exception,\n  payload.error,\n  payload.message,\n  ''\n);\n\nlet logText = '';\nif (typeof rawLog === 'string') {\n  logText = rawLog;\n} else if (rawLog) {\n  logText = JSON.stringify(rawLog, null, 2);\n}\n\nconst maxLogChars = 2800;\nconst truncatedLog = logText.length > maxLogChars\n  ? `${logText.slice(0, maxLogChars)}\\n\\n[log truncado: ${logText.length - maxLogChars} caracteres omitidos]`\n  : logText;\n\nconst header = [\n  'AIRFLOW ETL ALERT',\n  `state: ${state}`,\n  `dag_id: ${dagId}`,\n  `task_id: ${taskId}`,\n  `run_id: ${runId}`,\n  `try_number: ${tryNumber}`,\n  `timestamp: ${ts}`,\n];\n\nif (logUrl) {\n  header.push(`log_url: ${logUrl}`);\n}\n\nconst text = [\n  ...header,\n  '',\n  truncatedLog ? 'log_excerpt:' : 'sin log_excerpt en payload',\n  truncatedLog || ''\n].join('\\n');\n\nreturn [{\n  json: {\n    telegram_text: text,\n    state,\n    dag_id: dagId,\n    task_id: taskId,\n    run_id: runId\n  }\n}];\n"
      },
      "id": "8f704865-6d5d-4ef0-bf9f-0aa0d7810002",
      "name": "Preparar Mensaje",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        540,
        300
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://api.telegram.org/bot{{$env.TELEGRAM_BOT_TOKEN || 'REEMPLAZA_BOT_TOKEN'}}/sendMessage",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ { chat_id: $env.TELEGRAM_CHAT_ID || 'REEMPLAZA_CHAT_ID', text: $json.telegram_text, disable_notification: false } }}",
        "options": {}
      },
      "id": "8f704865-6d5d-4ef0-bf9f-0aa0d7810003",
      "name": "Enviar a Telegram",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        820,
        300
      ]
    }
  ],
  "connections": {
    "Webhook Airflow": {
      "main": [
        [
          {
            "node": "Preparar Mensaje",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Preparar Mensaje": {
      "main": [
        [
          {
            "node": "Enviar a Telegram",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1",
    "timezone": "America/Santiago"
  },
  "staticData": null,
  "tags": [
    {
      "name": "airflow"
    },
    {
      "name": "telegram"
    },
    {
      "name": "etl"
    },
    {
      "name": "logs"
    }
  ],
  "triggerCount": 0,
  "versionId": "1"
}
